Source: samblaster0.1.21
Section: science
Priority: optional
Maintainer: Genome Developers <genome-dev@genome.wustl.edu>
Uploaders: Ian Ferguson <iferguso@genome.wustl.edu>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2
Homepage: https://github.com/GregoryFaust/samblaster
Vcs-Git: git://github.com/GregoryFaust/samblaster.git
Vcs-Browser: https://github.com/GregoryFaust/samblaster

Package: samblaster0.1.21
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mark duplicates and work with paired reads in sam files
 Samblaster is a fast and flexible program for marking duplicates in read-id
 grouped paired-end SAM files. It can also optionally output discordant read
 pairs and/or split read mappings to separate SAM files, and/or
 unmapped/clipped reads to a separate FASTQ file. When marking duplicates,
 samblaster will require approximately 20MB of memory per 1M read pairs.
 .
 Written by: Greg Faust (gf4ea@virginia.edu)
 Ira Hall Lab, University of Virginia
 .
 Please cite:
 Faust, G.G. and Hall, I.M., "SAMBLASTER: fast duplicate marking and structural
 variant read extraction," Bioinformatics Sept. 2014; 30(17): 2503-2505.
